.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-form input {
  width: 300px;
}

.reset-form input:hover {
  width: 320px;
}

#reset-button {
  border: transparent;
  text-align: center;
  color: rgba(255, 255, 255, 255);
  background: rgba(0, 0, 0, 0.9);
  width: 170px;
}

#reset-button:hover {
  width: 190px;
}

#reset-label {
  color: rgba(0, 0, 0, 0.794);
  font-size: 25px;
}
