#btn {
  transition: 0.5s;
  margin-top: 30px;
  color: white;
  background: black;
  width: 120px;
  height: 30px;
  border-radius: 5px;

  border: transparent;
}

#btn:hover {
  background: rgb(0, 183, 255);
  transition: 0.5s;
  width: 150px;
}
