.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reset-label {
  color: rgba(0, 0, 0, 0.794);
  font-size: 25px;
}

.login-link {
  color: rgb(0, 183, 255);
}

.login-link:hover {
  color: skyblue;
}
.register-link {
  color: rgb(0, 183, 255);
}

.register-link:hover {
  color: skyblue;
}
